@{
    ViewData["Title"] = "Access Denied";
}

<ifs-page-title class="text-danger">>@ViewBag.Title</ifs-page-title>
<h2 class="text-danger">Sorry, no access to that page.</h2>

<p>
    Try logging in again and retry.
</p>