@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">That didn't work out.</h2>

<p>
    Please try again later.
</p>

<p>
    <a href="#" id="reload-button" class="btn btn-default">Retry</a>
    <a href="#" id="back-button" class="btn btn-primary">Go back</a>
</p>

@section scripts {
    <script>
        $(document).on('click', '#reload-button', ev => {
            ev.preventDefault();

            document.location.reload(true);
        });

        $(document).on('click', '#back-button', ev => {
            ev.preventDefault();

            history.back();
        });
    </script>
}
