@{
    ViewData["Title"] = "Error";
}

<ifs-page-title class="text-danger">>@ViewBag.Title</ifs-page-title>
<h2 class="text-danger">That didn't work out.</h2>

<p>
    Please try again later.
</p>

<p>
    <a href="#" id="reload-button" class="btn btn-default">Retry</a>
    <a href="#" id="back-button" class="btn btn-primary">Go back</a>
</p>

@section scripts {
    <script src="~/build/shared/error.js" asp-append-version="true"></script>
}
