@model LoginModel

@{
    ViewBag.Title = "Upload login";
}

<ifs-page-title>@ViewBag.Title</ifs-page-title>

<p>
    Please enter your credentials to continue.
</p>

@{
    await Html.RenderPartialAsync("_ValidationSummary");
}

<form asp-action="Login" asp-antiforgery="true">
    <input type="hidden" asp-for="ReturnUrl"/>

    <div class="form-floating mb-3">
        <input asp-for="Passphrase" placeholder-for="Passphrase" class="form-control" />
        <label asp-for="Passphrase"></label>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Continue</button>
    </div>
</form>

<markdown class="alert alert-info" data-testid="help-text">
    <span class="fa-solid fa-info-circle bi flex-shrink-0 me-2" role="img"></span>@Model!.HelpText
</markdown>