@model LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Internet File System <small>Upload console login</small></h2>

<p>
    Please enter your credentials to continue.
</p>

@if (!ViewData.ModelState.IsValid) {
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}

<form asp-action="Login" asp-antiforgery="true">
    <input type="hidden" asp-for="ReturnUrl"/>

    <div class="form-group">
        <input asp-for="Passphrase" type="password" placeholder="@Html.DisplayNameFor(x => x.Passphrase)" class="form-control" />
    </div>
    
    <div class="form-group">
        <button class="btn btn-primary">Continue</button>
    </div>
</form>

<markdown class="alert alert-info">@Model.HelpText</markdown>