@model LoginModel

@{
    ViewBag.Title = "Upload login";
}

<ifs-page-title>@ViewBag.Title</ifs-page-title>

<p>
    You need to log in to upload files.
</p>

@{
    await Html.RenderPartialAsync("_ValidationSummary");
}

<form asp-action="Login" asp-antiforgery="true">
    <input type="hidden" asp-for="ReturnUrl"/>

    <div class="mb-3">
        <button class="btn btn-primary">Continue</button>
    </div>
</form>

<markdown class="alert alert-info">@Model!.HelpText</markdown>