@model LoginModel

@{
    ViewBag.Title = "Administrative console login";
}

<ifs-page-title>@ViewBag.Title</ifs-page-title>

<p>
    You need to login with the external login provider to continue;
</p>

@{
    await Html.RenderPartialAsync("_ValidationSummary");
}

<form asp-action="Login" asp-antiforgery="true">
    <input type="hidden" asp-for="ReturnUrl"/>

    <div class="mb-3">
        <button class="btn btn-primary">Continue</button>
    </div>
</form>