@model ErrorInformation

@{
    ViewBag.Title = "Not found";
}

<ifs-page-title>Page not found</ifs-page-title>

<p>
    <strong>Oops!</strong> Something might have broken, because the current page cannot be found.
</p>

<p>
    URL: <code>@Model.GetUrl(this.ViewContext.HttpContext.Request)</code>
</p>

<p>
    <a href="#" onclick="history.back()" class="btn btn-primary">Go back</a>
    <a href="/" class="btn btn-secondary">Go somewhere else</a>
</p>