<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
        </handlers>
        <aspNetCore
                processPath="%LAUNCHER_PATH%"
                arguments="%LAUNCHER_ARGS%"
                stdoutLogEnabled="false"
                stdoutLogFile=".\logs\stdout"
                forwardWindowsAuthToken="false"
                requestTimeout="00:30:00"
                hostingModel="InProcess">
            <environmentVariables>
                <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development"/>
                <environmentVariable name="COMPLUS_ForceENC" value="1"/>
            </environmentVariables>
        </aspNetCore>
        <!-- Use requestTimeout to allow long uploads. -->
    </system.webServer>

    <!-- ReSharper disable WebConfig.WebConfigPathWarning -->
    <!-- ReSharper disable WebConfig.RedundantLocationTag -->
    <!-- ReSharper disable WebConfig.WebConfigPathWarning -->
    <location path="upload/handler">
        <!-- Max out the allowed content length so IIS doesn't kill the request.
             maxAllowedContentLength has the max value of 4GB set here.
        -->
        <system.webServer>
            <security>
                <requestFiltering>
                    <requestLimits maxAllowedContentLength="4294967295"/>
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
</configuration>