<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    
    <aspNetCore processPath="%LAUNCHER_PATH%" 
                arguments="%LAUNCHER_ARGS%" 
                stdoutLogEnabled="false" 
                stdoutLogFile=".\logs\stdout" 
                forwardWindowsAuthToken="false"
                
                requestTimeout="00:30:00"/>
    <!-- Use requestTimeout to allow long uploads. -->
  </system.webServer>

  <!-- ReSharper disable once WebConfig.WebConfigPathWarning -->
  <!-- ReSharper disable once WebConfig.RedundantLocationTag -->
  <location path="upload/frame">
    <!-- Max out the allowed content length so IIS doesn't kill the request.
         maxAllowedContentLength has the max value of 4GB set here.
    -->
    
    <system.webServer>
      <security >
        <requestFiltering>
          <requestLimits maxAllowedContentLength="4294967295"/>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
