@model IFS.Web.Models.UploadLinkModel

@{
    ViewBag.Title = "Create upload hyperlink";
}

<ifs-page-title>@ViewBag.Title</ifs-page-title>

<p>
    Create an upload link so an external party can upload a file for you. Give the link an
    expiration date so the file will be automatically removed from the server after upload.
</p>

<form method="post">
    <input asp-for="FileIdentifier" type="hidden" />

    <div class="mb-3">
        <label asp-for="Expiration"></label>

        <select asp-for="Expiration" asp-items="Model!.AvailableExpiration" class="form-select"></select>
    </div>
    <hr />

    @{
        await Html.RenderPartialAsync("_ContactInformationEntry", Model);
    }

    <p>
        <button class="btn btn-primary">
            <span class=" fa-solid fa-upload"></span> Create link
        </button>

        <a asp-controller="Files" asp-action="Index" asp-area="Administration" class="btn btn-link">Go back</a>
    </p>
</form>

@section scripts {
    <script>
        window.app.contactInformationPersistence.initialize(
            '@Html.IdFor(x => x.Sender!.Name)',
            '@Html.IdFor(x => x.Sender!.EmailAddress)'
        );
    </script>
}
