<form asp-action="Logoff" asp-controller="Authenticate" asp-antiforgery="true" class="logoff-form">
    <button class="btn btn-default">
        <span class="fas fa-sign-out-alt"></span>
        Log off
    </button>
</form>