@model DownloadPasswordModel

@{
    ViewBag.Title = "Download file";
}

<ifs-page-title>@ViewBag.Title</ifs-page-title>

<p>
    Please enter the password to continue.
</p>

@{
    await Html.RenderPartialAsync("_ValidationSummary");
}

<form asp-antiforgery="true">
    <div class="form-floating mb-3">
        <input asp-for="Password" placeholder-for="Password" class="form-control" />
        <label asp-for="Password"></label>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Continue</button>
    </div>
</form>