@{
    ViewBag.Title = "Download not found or expired";
}

<ifs-page-title>@ViewBag.Title</ifs-page-title>

<p>
    Sorry, we could not retrieve the download you've requested. The download you're
    trying to request either does not exist or the download link has expired.
</p>

<p>
    Please contact the person you have received the link from to receive a new download.
</p>