@model UploadModel

<input asp-for="Expiration" type="hidden" value="@Model.Expiration.ToString("O")" />

<p>
    <label asp-for="Password">Download password</label>

    <input asp-for="Password" class="form-control" />
</p>