@model UploadModel

<input asp-for="Expiration" type="hidden" value="@Model!.Expiration.ToString("O")" />

<div class="ordered-form__part ordered-form__part--last">
    <hr />

    <div class="hidden">
        <h4>Protect this download</h4>

        <div class="mb-3">
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" id="cbPasswordProtect" value="True" asp-for="EnablePasswordProtection">
                <label class="form-check-label" for="cbPasswordProtect">Password-protect this download</label>
            </div>
        </div>

        <div id="pPasswordProtect" class="mb-3">
            <label asp-for="Password">Download password</label>

            <input asp-for="Password" class="form-control" />
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_UploadControl", Model);
}