@model UploadModel

<div class="ordered-form__part ordered-form__part--last">
    <hr />

    <h4>Protect this download</h4>
    <div class="mb-3">
        <div class="form-check form-switch">
            <input type="checkbox" id="cbPasswordProtect" class="form-check-input" value="True" asp-for="EnablePasswordProtection">
            <label class="form-check-label" for="cbPasswordProtect">Password-protect this download</label>
        </div>
    </div>

    <div id="pPasswordProtect" class="form-floating mb-3">
        <input asp-for="Password" placeholder-for="Password" class="form-control"/>
        <label asp-for="Password">Download password</label>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_UploadControl", Model);
}

<div class="ordered-form__part">
    <div class="form-floating mb-3">
        <select asp-for="Expiration" asp-items="Model!.AvailableExpiration" class="form-select"></select>
        <label asp-for="Expiration"></label>
    </div>
    <hr />
</div>


<div class="ordered-form__part">
    @{
        await Html.RenderPartialAsync("_ContactInformationEntry", Model);
    }
</div>


