@using Humanizer
@model NewUploadModel
@inject Microsoft.Extensions.Options.IOptions<IFS.Web.Core.Upload.FileStoreOptions> FileStoreOptions

@{
    ViewBag.Title = "Upload selector";
}

<div id="upload-root">
    <h2>@ViewBag.Title</h2>

    <p>
        Need to share a file over the internet? Upload it here. You will receive a unique url that you can send via e-mail or instant messaging to anyone who needs to download the file.
    </p>
    
    <div class="alert alert-info">
        <strong>Maximum file size: </strong> @FileStoreOptions.Value.MaximumFileSize.Megabytes().ToString("MB")
    </div>

    <form asp-action="Frame"
          asp-antiforgery="true"
          target="uploadFrame"
          enctype="multipart/form-data" method="post">
        <input asp-for="FileIdentifier" type="hidden" />

        <p>
            <label asp-for="File" class="control-label">
                Your file
            </label>

            <input type="file" asp-for="File" class="form-control" />
        </p>

        <p>
            <label asp-for="Expiration" class="control-label">
                Expiration
            </label>

            <select asp-for="Expiration" asp-items="Model.AvailableExpiration" class="form-control"></select>
        </p>

        <p>
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
        </p>
    </form>
</div>

<iframe name="uploadFrame" id="uploadFrame" style="display:none"></iframe>

<div class="hidden" id="upload-done">
    <div class="alert alert-info">
        <strong>Done!</strong> Redirecting you to the results...
    </div>
</div>

<div class="hidden" id="upload-error">
    <h2>Upload failed</h2>

    <div class="alert alert-danger">
        <strong>Oops...</strong> It appears something has gone terribly wrong with the upload
    </div>

    <p>
        Please check whether the file you're trying to upload isn't too large.
    </p>

    <p>
        <button class="btn btn-primary reload-button" type="button">Try again</button>
    </p>
</div>

@section scripts {
    <script>
        (function (global) {
            var $uploadRoot = $('#upload-root'),
                errorIntervalTimerHandle = 0,
                trackerUrl = '@Url.RouteUrl("UploadTracker", new { trackerId = Model.FileIdentifier })';

            $uploadRoot.find('form').submit(function() {
                $uploadRoot.load(trackerUrl);

                // If the iframe loads, and we weren't called back within a certain time, 
                // we can assume there is some kind of server error.
                $('#uploadFrame').on('load', function () {
                    console.info('Upload frame has loaded...');

                    errorIntervalTimerHandle = window.setTimeout(global.uploadCoordinator.assumeServerUploadError, 2000);
                });
            });

            $(document).on('load', '.reload-button', function(ev) {
                ev.preventDefault();

                document.location.reload(true);
            });

            global.uploadCoordinator = {
                validationError: function(text) {
                    alert(text);

                    document.location.reload(true);
                },

                assumeServerUploadError: function() {
                    $uploadRoot.html($('#upload-error').html());
                },
                complete: function (targetUrl) {
                    clearTimeout(errorIntervalTimerHandle);

                    $uploadRoot.html($('#upload-done').html());

                    document.location.href = targetUrl;
                }
            };

           
        })(window);
    </script>
}