@model NewUploadModel

@{
    ViewBag.Title = "Upload selector";
}

<div id="upload-root">
    <h2>@ViewBag.Title</h2>

    <p>
        Need to share a file over the internet? Upload it here. You will receive a unique url that you can send via e-mail or instant messaging to anyone who needs to download the file.
    </p>

    <form asp-action="Frame"
          asp-antiforgery="true"
          target="uploadFrame"
          enctype="multipart/form-data" method="post">
        <input asp-for="FileIdentifier" type="hidden" />

        <p>
            <label asp-for="File" class="control-label">
                Your file
            </label>

            <input type="file" asp-for="File" class="form-control" />
        </p>

        <p>
            <label asp-for="Expiration" class="control-label">
                Expiration
            </label>

            <select asp-for="Expiration" asp-items="Model.AvailableExpiration" class="form-control"></select>
        </p>

        <p>
            <button class="btn btn-submit">
                <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
        </p>
    </form>
</div>

<iframe name="uploadFrame" style="display:none"></iframe>

<div class="hidden" id="upload-done">
    <div class="alert alert-info">
        <strong>Done!</strong> Redirecting you to the results...
    </div>
</div>

@section scripts {
    <script>
        (function (global) {
            var $uploadRoot = $('#upload-root'),
                trackerUrl = '@Url.RouteUrl("UploadTracker", new { trackerId = Model.FileIdentifier })';

            $uploadRoot.find('form').submit(function() {
                $uploadRoot.load(trackerUrl);
            });

            global.uploadCoordinator = {
                validationError: function(text) {
                    alert(text);
                    document.location.reload(true);
                },
                complete: function (targetUrl) {
                    $uploadRoot.html($('#upload-done').html());

                    document.location.href = targetUrl;
                }
            };
        })(window);
    </script>
}