@model UploadFileInProgressModel

<div id="uploadTracker">
    <h2>
        Upload in progress...
        
        @if (Model.FileName != null) {
            <small>Uploading file @Model.FileName</small>
        }
    </h2>

    <p id="uploadProgress">
        Initializing progress...
    </p>

    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%;">
            <span class="sr-only">0% Complete</span>
        </div>
    </div>
    
    <span class="pull-right" id="uploadPerformance"></span>
</div>

@{
    string uploadApi = this.Url.RouteUrl("UploadTrackerApi", new { trackerId = Model.FileIdentifier.ToString() });
}

<script>
    (function () {
        var $tracker = $('#uploadTracker'),
            $progress = $tracker.find('.progress .progress-bar'),
            $textBlock = $tracker.find('#uploadProgress'),
            $performance = $tracker.find('#uploadPerformance'),
            firstTime = true;

        function updateProgress(incoming) {
            if (incoming.total === 0) {
                return;
            }

            var percent = incoming.percent,
                currentkb = Math.round(incoming.current / 1024),
                totalkb = Math.round(incoming.total / 1024);

            $progress
                .css('width', percent + '%')
                .find('.sr-only').text(percent + '%');

            $textBlock
                .text('Uploading ' + currentkb + '/' + totalkb + ' KB (' + percent + '%)');

            $performance.text(incoming.performance);
        }

        function isTrackerRemoved() {
            return $tracker.closest('body').length > 0;
        }

        function triggerAjax() {
            if (isTrackerRemoved()) {
                return;
            }

            $.getJSON('@uploadApi', {})
                .success(data => {
                    if (firstTime) {
                        $progress.stop();

                        firstTime = false;
                    }

                    updateProgress(data);

                    window.setTimeout(triggerAjax, 250);
                })
                .fail(() => {
                    if (firstTime) {
                        $textBlock.text('Waiting for progress information...');

                        $progress.animate({ width: '0%' }, 100);
                    } else {
                        $textBlock.text('Error updating progress...');
                    }

                    window.setTimeout(triggerAjax, 1000);
                });
        }

        triggerAjax();
    })();

</script>