@{
    ViewBag.Title = "Upload link expired or used";
}

<ifs-page-title>@ViewBag.Title</ifs-page-title>

<p>
    The upload link you have received is invalid, has been expired or has already been used. 
</p>

<p>
    Please reach out to your contact person to receive a new upload link.
</p>